*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: 'Segoe UI', sans-serif;
}

body{
height:100vh;
}

.hero{
height:100vh;
background:url("assets/us.jpg") center/cover no-repeat;
position:relative;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
color:white;
}

.overlay{
position:absolute;
inset:0;
backdrop-filter: blur(8px);
background: rgba(0,0,0,0.35);
}

.content{
position:relative;
padding:30px;
max-width:90%;
}

h3{
letter-spacing:3px;
font-weight:300;
margin-bottom:10px;
}

h1{
font-size:38px;
margin-bottom:20px;
}

.guest{
font-size:20px;
margin-bottom:15px;
}

.invite-text{
opacity:0.9;
margin-bottom:25px;
}

.date{
font-size:18px;
line-height:1.6;
margin-bottom:40px;
}

.swipe{
opacity:0.7;
font-size:14px;
}